header.header.container
  .header__intro
    h1.header__title Karunya Tota

  .header__photo
    figure.header__photo-wrapper
      img(src="assets/img/headshot.jpg")
      figcaption.header__quote Cool me!
