$alabaster: hsl(28, 37, 90);
$apricot: hsl(15, 87%, 85%);
$baby_powder: hsl(120, 60, 99);
$light_cyan: hsl(167, 33%, 84%);
$space_cadet: hsl(233, 24, 19);
$unbleached_silk: hsl(25, 76%, 87%);
$champagne_pink: hsl(22, 34%, 83%);
$tea_green: hsl(92, 34%, 76%);
$yellow: hsl(43, 82%, 89%);
$forest_green: hsl(138, 25%, 56%);
$pistachio: hsl(94, 38%, 59%);

$spacer: 20px;

body {
  margin: 0 auto;
  background-color: $yellow;
  overflow-x: hidden;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
  padding: $spacer;
}

section {
  p {
    margin-bottom: $spacer;
  }
}

.list-unstyled {
  list-style-type: none;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: $space_cadet;
  background: $apricot;

  &:hover {
    background: rgba($apricot, 1.2);
  }
}

.section-title {

  font-size: 1.5rem;
  margin: 0 auto;
  font-weight: bold;
  margin-bottom: ($spacer / 2);
  position: relative;
  display: table; // shrinkwrap
  padding: 0 10px;
  z-index: 2;

  &::after {
    content: '';
    background-color: $apricot;
    height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    z-index: -1;
  }
}
