
.footer {
  text-align: center;
  color: $baby_powder;
  bottom: 0px;
  width: 100%;

  li {
    display: inline;
  }

  .fa {
    margin-right: 2em;
  }

  .fa:hover {
    color: darken(white, 20%);
  }
}

.dark {
  background-color: hsl(222, 11%, 18%);

  a {
    color: $baby_powder;
    background-color: transparent;
  }
}

