.header {
  .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: $spacer * 4;
    color: $space-cadet;
    text-align: left;
  }

  &__intro {
    margin-bottom: ($spacer / 2);
  }

  &__title {
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 30%;
    margin-bottom: ($spacer / 2);
    position: relative;

    &::after {
      content: '';
      background-color: $apricot ;
      height: 25px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      z-index: -1;
    }
  }

  &__profession, &__affiliation {
    @extend .font-secondary;
    letter-spacing: 1.5px;
    margin-bottom: 0;
  }

  ul {
    padding: 0;
  }


  &__nav {
    display: flex;
    justify-content: left;

    a {
      margin-right: $spacer;
      background-color: $baby_powder;
    }
  }

  &__photo {
    min-width: 400px;
    max-width: 500px;
  }

  &__photo-wrapper {
    margin-top: 0;
    position: relative;
    margin-top: 15%;

    /*
     &::before {
      content: '';
      position: relative;
      top: 0;
      left: -20%;
      transform: rotate(-45deg);
      height: 100px;
      width: 100px;
      background-color: $forest_green;
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      top: 4%;
      left: 6%;
      background-color: $pistachio;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    */

    > img {
      width: 100%;
      display: inline;
    }
  }
}
